body{
	background-image: url("https://images.unsplash.com/photo-1516410290616-fb59b7994a51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1068&q=80");
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
	}





h1{
	
	font-size: 5em;
}

h2{

	font-size: 3em;
}

td{
	
	font-size: 1em;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
 	
}

th{
	
	font-size: 1.5em;
	text-align: left;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
